.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header.background-img {
    background: url('../Assets/Hero-bg.png');
    max-height: 698;
    max-width: 1440;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    
    
}
.logo{
    color: #4E47FF;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero-content {
    text-align: center;
    margin-top: auto;
    margin-bottom: 80px;
}

.content-title {
    font-size: 25px;
}

.btn-primary {
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    
    
}
.btn-primary:hover{
  background-color: #d31226;
}
/* action style */
.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 60px;
    background-color:#FFFFFF;
    color: black;
}

.action{
    flex:1;
    padding: 30px;
     
}

.action-title{
    font-size: 35px;
    margin-bottom: 10px 20px;
}

.action-text {
  font-size: 15px;
  margin-bottom: 20px;
}

.action-img {
    
max-width: 50%;
border-radius: 20px;

   
}
/* user-section */
.user-section {
  background-color: #eaeaff;
  border-radius: 12px;
  padding: 30px 20px; 
  margin: 30px auto;
  max-width: 900px;
  text-align: center;
}

.user-title {
  font-size: 22px; 
  font-weight: 700;
  color: #272424;
  margin-bottom: 25px;
}

.user-item {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.user-item-list {
  
  flex-direction: column;
  align-items: center;
}

.user-item-list h2 {
  font-size: 36px; 
  font-weight: 700;
  color: #4a3aff;
}

.user-item-list h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.user-text{
   font-size: 18px;
    margin: 5px;

}
/* user's feedback */

.feedback-section {
  background-color: #f7f9ff;
  padding: 50px 20px;
  text-align: center;
}

.feedback-title {
  font-size: 28px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 40px;
}


.feedback-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.feedback-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 300px;
  text-align: left;
}

.feedback-text {
  font-size: 14px;
  color: #444;
  margin: 10px 0 20px;
}

.feedback-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}
.feedback-name {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
.feedback-date {
  font-size: 12px;
  color: #888;
}

/* touch section */

.touch-containar {
  background-color: #f7f9ff;
  padding: 50px 30px;
  border-radius: 15px;
  margin: 50px auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.left-section {
  flex: 1.5;
  display: flex;
  align-items: center;
}

.left-title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 50px;
}

.right-section {
  flex: 1;
  min-width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.form-group input,
.form-group textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  font-family: inherit;
}


/* Submit Button */
form button {
  background-color: #4E47FF;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

form button:hover {
  background-color: #d31226;
}
/* footer section */
.footer-section {
    background: #ffffff;
    padding: 45px;
    text-align: center;
    color: #000;
}

.footer-logo {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4E47FF;
}

.footer-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #000;
}

.footer-container .iteam a {
    color:gray;
    text-decoration: none;
    font-size: 16px;
}