.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header.background-img {
    background: url('../Assets/Hero-bg.png');
    max-height: 698;
    max-width: 1440;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    
    
}
.logo{
    color: #4E47FF;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero-content {
    text-align: center;
    margin-top: auto;
    margin-bottom: 80px;
}

.content-title {
    font-size: 25px;
}

.btn-primary {
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
/* action style */
.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 60px;
    background-color:#FFFFFF;
    color: black;
}

.action{
    flex:1;
    padding: 30px;
     
}

.action-title{
    font-size: 35px;
    margin-bottom: 10px 20px;
}

.action-text {
  font-size: 15px;
  margin-bottom: 20px;
}

.action-img {
    
max-width: 50%;
border-radius: 20px;
opacity: 100%;
   
}
/* user-section */
.user-section {
  background-color: #eaeaff;
  border-radius: 12px;
  padding: 30px 20px; 
  margin: 30px auto;
  max-width: 900px;
  text-align: center;
}

.user-title {
  font-size: 22px; 
  font-weight: 700;
  color: #272424;
  margin-bottom: 25px;
}

.user-item {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.user-item-list {
  
  flex-direction: column;
  align-items: center;
}

.user-item-list h2 {
  font-size: 36px; 
  font-weight: 700;
  color: #4a3aff;
}

.user-item-list h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.user-text{
   font-size: 18px;
    margin: 5px;

}
